<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <style>

        body {
            padding: 50px;
        }
        
        .page-title {
            color: #333;
        }

        .add-task-form {
            margin-top: 20px;
        }
        
        .form-group {
            margin-bottom: 10px;
        }

        .form-input {
            width: 200px;
            padding: 5px;
            margin-right: 10px;
        }

        .form-input[name="description"] {
            width: 400px;
            height: 50px;
            resize: vertical;
        }

        .form-button {
            padding: 8px;
            background-color: darkcyan;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        .new-task-link {
            display: block;
            margin-top: 10px;
            color: darkcyan;
        }
        
        .todo-list {
            margin-top: 20px;
            display: inline-block;
            text-align: left;
        }
        
        .task-container {
            border-top: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
        }

        .update-task-container {
            width: 150px;
        }

        .update-task {
            color:darkcyan;
            margin-right: 10px;
            align-self: center;
        }

        .task-title-container {
            flex-grow: 1;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .task-title {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .task-description {
            font-size: 18px;
        }

        .task-due-date {
            font-size: 14px;
        }

    </style>
</head>